In [1]:
import numpy as np
import pandas as pd

C:\Users\wojtek\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\wojtek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\wojtek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
sem2016 = pd.read_csv('data/semeval2016.tsv', sep='\t', names=['text_id', 'target', 'sentiment', 'text'])
sem2016.head()

,text_id,target,sentiment,text
0,681563394940473347,amy schumer,-1,@MargaretsBelly Amy Schumer is the stereotypic...
1,675847244747177984,amy schumer,-1,@dani_pitter I mean I get the hype around JLaw...
2,672827854279843840,amy schumer,-1,Amy Schumer at the #GQmenoftheyear2015 party i...
3,671502639671042048,amy schumer,-1,"Amy Schumer may have brought us Trainwreck, bu..."
4,677359143108214784,amy schumer,-1,Not Available

In [3]:
def scale_sent(x):
    if x == -2:
        return -1
    if x == 2:
        return 1
    return x

In [4]:
sem2016.sentiment = sem2016.sentiment.apply(scale_sent)

In [6]:
sem2016.sentiment.value_counts()

 1    11302
 0    11184
-1     3000
Name: sentiment, dtype: int64

In [7]:
sem2017 = pd.read_csv('data/SemEval2017-task4-test.subtask-CE.english.txt', sep='\t', names=['text_id', 'target', 'sentiment', 'text'])
sem2017.head()

,text_id,target,sentiment,text
0,801989080477154944,#ArianaGrande,0,#ArianaGrande Ari By Ariana Grande 80% Full ht...
1,801989272341453952,#ArianaGrande,1,Ariana Grande KIIS FM Yours Truly CD listening...
2,801990978424962944,#ArianaGrande,1,Ariana Grande White House Easter Egg Roll in W...
3,801996232553963008,#ArianaGrande,1,#CD #Musics Ariana Grande Sweet Like Candy 3.4...
4,801998343442407040,#ArianaGrande,1,SIDE TO SIDE ðŸ˜˜ @arianagrande #sidetoside #aria...

In [8]:
sem2017.sentiment = sem2017.sentiment.apply(scale_sent)

In [9]:
sem2017.sentiment.value_counts()

 0    5988
-1    3583
 1    2439
Name: sentiment, dtype: int64

In [10]:
twit = pd.read_csv('data/test.csv')
twit.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

In [15]:
sent_dict = {'positive': 1, 'neutral': 0, 'negative': -1}
twit.sentiment = twit.sentiment.apply(lambda x: sent_dict[x])
twit.head()

       textID                                               text  sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh          0
1  96d74cb729   Shanghai is also really exciting (precisely -...          1
2  eee518ae67  Recession hit Veronique Branquinho, she has to...         -1
3  01082688c6                                        happy bday!          1
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!          1

In [13]:
[1,2,3,4,5,6][2::3]

[3, 6]

In [16]:
twit[['text', 'sentiment']].to_csv('data/test.tsv', sep='\t', index=False)

In [19]:
with open('data/train.raw', encoding='utf8') as f:
    lines = f.readlines()

lines[:6]

["i agree about arafat . i mean , shit , they even gave one to $T$ ha . it should be called '' the worst president '' prize .\n",
 'jimmy carter\n',
 '-1\n',
 'musicmonday $T$ - lucky do you remember this song ? it ` s awesome . i love it .\n',
 'britney spears\n',
 '1\n']

In [20]:
texts = [x.strip() for x in lines[::3]]
targets = [x.strip() for x in lines[1::3]]
sentiments = [int(x.strip()) for x in lines[2::3]]

texts[:2], targets[:2], sentiments[:2]

(["i agree about arafat . i mean , shit , they even gave one to $T$ ha . it should be called '' the worst president '' prize .",
  'musicmonday $T$ - lucky do you remember this song ? it ` s awesome . i love it .'],
 ['jimmy carter', 'britney spears'],
 [-1, 1])

In [21]:
twit = pd.DataFrame({'target': targets, 'text': texts, 'sentiment': sentiments})

In [22]:
twit

,target,text,sentiment
0,jimmy carter,"i agree about arafat . i mean , shit , they ev...",-1
1,britney spears,musicmonday $T$ - lucky do you remember this s...,1
2,hilary swank,"wtf ? $T$ is coming to my school today , just ...",0
3,wii,my 3-year-old was amazed yesterday to find tha...,0
4,google,God damn . That Sony remote for $T$ is fucking...,-1
...,...,...,...
6243,britney spears,really ? that seems like more of a $T$ outfit ...,0
6244,wii,the biggest loser $T$ review,-1
6245,lady gaga,"ok love game is on . . $T$ , my dear , you nee...",1
6246,nicolas cage,nic cage sues business manager for ' financial...,0
6247,lindsay lohan,the top 5 stars in need of help ... asap : abc...,0

In [24]:
sem2017.head().text.values

array(['#ArianaGrande Ari By Ariana Grande 80% Full https://t.co/ylhCMETHHW #Singer #Actress https://t.co/lTrb1JQiEA',
       'Ariana Grande KIIS FM Yours Truly CD listening party in Burbank https://t.co/ClQIcx8Z6V #ArianaGrande',
       'Ariana Grande White House Easter Egg Roll in Washington https://t.co/jdjL9swWM8 #ArianaGrande',
       '#CD #Musics Ariana Grande Sweet Like Candy 3.4 oz 100 ML Sealed In Box 100% Authenic New https://t.co/oFmp0bOvZyâ€¦ https://t.co/WIHLch9KtK',
       'SIDE TO SIDE ðŸ˜˜ @arianagrande #sidetoside #arianagrande #musically #comunidadgay #lgbtðŸŒˆ  #LOTBâ€¦ https://t.co/tEd8rftAxV'],
      dtype=object)

In [31]:
def repl_t(row):
    return row.text.replace('$T$', row.target)

twit.text = twit.apply(repl_t, axis=1)

In [32]:
twit

,target,text,sentiment
0,jimmy carter,"i agree about arafat . i mean , shit , they ev...",-1
1,britney spears,musicmonday britney spears - lucky do you reme...,1
2,hilary swank,wtf ? hilary swank is coming to my school toda...,0
3,wii,my 3-year-old was amazed yesterday to find tha...,0
4,google,God damn . That Sony remote for google is fuck...,-1
...,...,...,...
6243,britney spears,really ? that seems like more of a britney spe...,0
6244,wii,the biggest loser wii review,-1
6245,lady gaga,"ok love game is on . . lady gaga , my dear , y...",1
6246,nicolas cage,nic cage sues business manager for ' financial...,0
6247,lindsay lohan,the top 5 stars in need of help ... asap : abc...,0

In [27]:
sem2017[sem2017.target=='wall on the mexican border'].text.values[:20]

array(['Trump is building a wall on the Mexican border so they can stop herrion come in to America while there government is the biggest customers',
       '@lasinferencias & the WALL Trump wants to build? I researched. It would take $45+ billion to build his 1900 mile wall on Mexican border....',
       'President Elect? More like President Erect! A wall! On the Mexican American border!',
       'Ok, I know a lot of you think a wall on the Mexican border is insane, but hear me out... What if instead of Mexico it was California?ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚',
       "The Great Mexican Wall Deception: Trump's America Already Exists on the Border @alternet https://t.co/6vjgAftd2C",
       "No need to build a wall. Just have Rosie O'Donnell lay down on the Mexican/American border. @realDonaldTrump",
       "@BadAstronomer Except it doesn't work, given the porous limestone.  Better suggestion = solar panel wall on Mexican side of the border.",
       'Easier way to build the wall, invite the Indian cricketer Rahul Dravid to build a home on the Mexican border#Trump #Dravid  #wall #thewall',
       "Donald, take it easy my friend, but I can't wait to see u start building that thick high wall on the Mexican border to seal ur legacy",
       "It's more difficult to move to Mexico as the Clintons built a bloody great fence all along the Borderâ€¦ https://t.co/LU1AGbIoSw",
       "There will be no wall on the border. Check this out & u'll see why:) @realDonaldTrump Ur so fucking stupid trump! https://t.co/0Jw3hUBpNt",
       'Walls work.  A wall of geothermal plants on the Mexican border.  BOOM. Mother Nature pays for it. #TrumpNarratesPlanetEarth',
       'We could do a WALL of solar panels on the border> BOOM> Mexican Sun God pays for it.  #TrumpNarratesPlanetEarth',
       'The New Yorker, Nov 16, 2015:  "The Hispanics love me," despite that he proposes building a wall on the Mexican border....#DonaldTrumpQuotes',
       'Kinda funny that Donald Trump is now on the hook for a big beautiful wall along the Mexican border????',
       '-Expect no real immigration reform, no wall on the Mexican border, no repeal of the sick joke known asâ€¦ https://t.co/BCCiO2K2PP',
       'An anti-immigration adviser to Trump says he may start construction of a wall on the Mexican border without a congressional approval.',
       'Their building a wall...... not on the Mexican border.......on the seafront Strandhill........ they only thing we... https://t.co/DE0WVwrb3u',
       "2 weeks ago: I'm going to build a YUUUGE wall on the Mexican border, a beautiful wall, YUUUGE Now: Well, maybe a couple of fences",
       'Doer believes that @realDonaldTrump WILL build a wall at the Mexican border.  Was very clear on that promise. @AMTA_ca'],
      dtype=object)

In [45]:
tm = pd.read_csv('data/testdata.manual.2009.06.14.csv', names=['sentiment', 'text_id', 'date', 'target', 'user', 'text'])
tm = tm[['target', 'text', 'sentiment']]
tm.head()

    target                                               text  sentiment
0  kindle2  @stellargirl I loooooooovvvvvveee my Kindle2. ...          4
1  kindle2  Reading my kindle2...  Love it... Lee childs i...          4
2  kindle2  Ok, first assesment of the #kindle2 ...it fuck...          4
3  kindle2  @kenburbary You'll love your Kindle2. I've had...          4
4  kindle2  @mikefish  Fair enough. But i have the Kindle2...          4

In [46]:
def tm_sent(x):
    if x < 2:
        return -1
    if x > 2:
        return 1
    return 0

tm.sentiment = tm.sentiment.apply(tm_sent)
tm.head()

    target                                               text  sentiment
0  kindle2  @stellargirl I loooooooovvvvvveee my Kindle2. ...          1
1  kindle2  Reading my kindle2...  Love it... Lee childs i...          1
2  kindle2  Ok, first assesment of the #kindle2 ...it fuck...          1
3  kindle2  @kenburbary You'll love your Kindle2. I've had...          1
4  kindle2  @mikefish  Fair enough. But i have the Kindle2...          1

In [47]:
tm.sentiment.value_counts()

 1    182
-1    177
 0    139
Name: sentiment, dtype: int64

In [34]:
sem2017 = sem2017[['target', 'text', 'sentiment']]
sem2016 = sem2016[['target', 'text', 'sentiment']]

In [48]:
twit_train = pd.concat([twit, sem2016, sem2017, tm])
twit_train.shape

(44242, 3)

In [49]:
twit_train.sentiment.value_counts()

 0    20438
 1    15484
-1     8320
Name: sentiment, dtype: int64

In [51]:
twit_train.to_csv('data/twit_train.tsv', index=False, sep='\t')

In [2]:
from xmltodict import parse

In [3]:
with open('data/Laptop_Train_v2.xml') as f:
    lap_dict = parse(f.read())

In [4]:
lap_dict['sentences']['sentence'][0]['text']

'I charge it at night and skip taking the cord with me because of the good battery life.'

In [19]:
[(x['@term'], x['@polarity']) for x in lap_dict['sentences']['sentence'][0]['aspectTerms']['aspectTerm']]

[('cord', 'neutral'), ('battery life', 'positive')]

In [29]:
def load_xml(path, texts, targets, sentiments):
    with open(path, encoding='utf8') as f:
        lap_dict = parse(f.read())
    
    for ex in lap_dict['sentences']['sentence']:
        if 'aspectTerms' in ex:
            for aspect in ex['aspectTerms']['aspectTerm']:
                if not isinstance(aspect, str): 
                    texts.append(ex['text'])
                    targets.append(aspect['@term'])
                    sentiments.append(aspect['@polarity'])

In [30]:
texts = []
targets = []
sentiments = []
load_xml('data/Laptop_Train_v2.xml', texts, targets, sentiments)

In [32]:
texts[:5], targets[:5], sentiments[:5]

(['I charge it at night and skip taking the cord with me because of the good battery life.',
  'I charge it at night and skip taking the cord with me because of the good battery life.',
  'The tech guy then said the service center does not do 1-to-1 exchange and I have to direct my concern to the "sales" team, which is the retail shop which I bought my netbook from.',
  'The tech guy then said the service center does not do 1-to-1 exchange and I have to direct my concern to the "sales" team, which is the retail shop which I bought my netbook from.',
  'The tech guy then said the service center does not do 1-to-1 exchange and I have to direct my concern to the "sales" team, which is the retail shop which I bought my netbook from.'],
 ['cord', 'battery life', 'service center', '"sales" team', 'tech guy'],
 ['neutral', 'positive', 'negative', 'negative', 'neutral'])

In [33]:
load_xml('data/Restaurants_Train_v2.xml', texts, targets, sentiments)

In [34]:
len(texts), len(targets), len(sentiments)

(4098, 4098, 4098)

In [35]:
rest_lap = pd.DataFrame({'target': targets, 'text': texts, 'sentiment': sentiments})

In [38]:
sent_dict = {'positive': 1, 'neutral': 0, 'negative': -1}
rest_lap = rest_lap[rest_lap.sentiment != 'conflict']
rest_lap.sentiment = rest_lap.sentiment.apply(lambda x: sent_dict[x])

C:\Users\wojtek\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [39]:
rest_lap

,target,text,sentiment
0,cord,I charge it at night and skip taking the cord ...,0
1,battery life,I charge it at night and skip taking the cord ...,1
2,service center,The tech guy then said the service center does...,-1
3,"""sales"" team",The tech guy then said the service center does...,-1
4,tech guy,The tech guy then said the service center does...,0
...,...,...,...
4093,pot of boiling water,Each table has a pot of boiling water sunken i...,0
4094,meats,Each table has a pot of boiling water sunken i...,0
4095,vegetables,Each table has a pot of boiling water sunken i...,0
4096,rice,Each table has a pot of boiling water sunken i...,0
4097,glass noodles,Each table has a pot of boiling water sunken i...,0

In [41]:
rest_lap.sentiment.value_counts()

 1    2206
-1    1018
 0     802
Name: sentiment, dtype: int64

In [42]:
rest_lap.to_csv('data/rest_lap.tsv', index=False, sep='\t')

In [44]:
import json

In [59]:
targets = []
texts = []
sentiments = []

In [60]:
def load_jsonl(path):
    with open(path) as f:
        for l in f:
            inst = json.loads(l)
            if 'opinions' in inst:
                for op in inst['opinions']:
                    if op['aspect'] == 'general':
                        targets.append(op['target_entity'])
                        texts.append(inst['text'])
                        sentiments.append(sent_dict[op['sentiment'].lower()])

In [61]:
load_jsonl('data/sentihood-train.jsonl')
load_jsonl('data/sentihood-dev.jsonl')
load_jsonl('data/sentihood-test.jsonl')

In [62]:
texts[:5], targets[:5], sentiments[:5]

(['  Best bet is around LOCATION2 and LOCATION1 area in the northwest corner really nice ',
  '  Best bet is around LOCATION2 and LOCATION1 area in the northwest corner really nice ',
  "  Don't go looking at places like LOCATION1  now that IS a rough area you really wouldn't want to live in",
  "  For gods sake don't move to LOCATION1 its horrible",
  '  I dont like LOCATION1 at all'],
 ['LOCATION1', 'LOCATION2', 'LOCATION1', 'LOCATION1', 'LOCATION1'],
 [1, 1, -1, -1, -1])

In [63]:
len(texts)

2056

In [64]:
hood = pd.DataFrame({'target': targets, 'text': texts, 'sentiment': sentiments})

In [65]:
hood.to_csv('data/sentihood.tsv', index=False, sep='\t')

In [2]:
hood = pd.read_csv('data/sentihood.tsv', sep='\t')
hood

         target                                               text  sentiment
0     LOCATION1    Best bet is around LOCATION2 and LOCATION1 a...          1
1     LOCATION2    Best bet is around LOCATION2 and LOCATION1 a...          1
2     LOCATION1    Don't go looking at places like LOCATION1  n...         -1
3     LOCATION1    For gods sake don't move to LOCATION1 its ho...         -1
4     LOCATION1                       I dont like LOCATION1 at all         -1
...         ...                                                ...        ...
2051  LOCATION2  the most decent places are  LOCATION2 and LOCA...          1
2052  LOCATION1  there are good places in LOCATION1, it is not ...          1
2053  LOCATION2  well, you could try anything in  LOCATION2 are...          1
2054  LOCATION1  you also have really nice areas like LOCATION2...          1
2055  LOCATION2  you also have really nice areas like LOCATION2...          1

[2056 rows x 3 columns]

In [3]:
twit = pd.read_csv('data/twit_train.tsv', sep='\t')
twit

,target,text,sentiment
0,jimmy carter,"i agree about arafat . i mean , shit , they ev...",-1
1,britney spears,musicmonday britney spears - lucky do you reme...,1
2,hilary swank,wtf ? hilary swank is coming to my school toda...,0
3,wii,my 3-year-old was amazed yesterday to find tha...,0
4,google,God damn . That Sony remote for google is fuck...,-1
...,...,...,...
44237,latex,Ask Programming: LaTeX or InDesign?: submitted...,0
44238,latex,"On that note, I hate Word. I hate Pages. I hat...",-1
44239,latex,Ahhh... back in a *real* text editing environm...,1
44240,iran,"Trouble in Iran, I see. Hmm. Iran. Iran so far...",-1
44241,iran,Reading the tweets coming out of Iran... The w...,-1

In [5]:
twit.target.unique()

array(['jimmy carter', 'britney spears', 'hilary swank', 'wii', 'google',
       'harry potter', 'hillary clinton', 'lady gaga', 'obama',
       'justin timberlake', 'madonna', 'george bush', 'perez hilton',
       'barack obama', 'iphone', 'nicki minaj', 'ipod', 'charlie sheen',
       'maradona', 'anderson cooper', 'jt', 'google wave', 'psp',
       'sarah palin', 'shaq', 'dave matthews', 'serena williams',
       'russell brand', 'joe biden', 'justin bieber', 'lindsay lohan',
       'bill gates', 'ryan seacrest', 'micheal jackson', 'xbox',
       'katy perry', 'john legend', 'martha stewart', 'steve jobs',
       'ellen degeneres', 'ipad', 'kim kardashian', 'mandy moore',
       'al gore', 'lakers', 'taylor swift', 'john mccain', 'windows 7',
       'nicolas cage', 'kindle', 'tiger woods', 'ms dhoni', 'alicia keys',
       'miley cyrus', 'jimmy fallon', 'demi lovato', 'taylorswift',
       'britney', 'selena gomez', 'khloe kardashian', 'ashley tisdale',
       'shakira', 'soulja boy', 'nick cannon', 'oprah', 'john boehner',
       'al-anon mtg', 'ashton kutcher', 'mc hammer',
       'arnold schwarzenegger', 'paris hilton', 'snoop dogg',
       'tim bresnan', 'alex rodriguez', 'mariah carey', 'britney sears',
       'gaga', 'stephen colbert', 'snoopdogg', 'nick jonas',
       'chelsea handler', 'souljaboy', "conan o'brien", 'john mayer',
       'oprah winfrey', 'johnmayer', 'bieber', 'canon powershot',
       'weird al yankovic', 'mindflex game', 'hillary', 'weird al',
       "shaquille o'neal", 'elizabeth taylor', 'o', 'miley',
       'donald trump', 'stephen fry', 'kevin spacey', 'britneyspears',
       'justin drew bieber', 'barack', 'biden', 'miley ray cyrus',
       'larry king', 'albert pujols', 'rev run', 'snoop dog',
       'kourtney kardashian', 'lance armstrong', 'j lo', 'tony hawk',
       'a-rod', 'amy schumer', 'ant-man', 'bad blood', 'bee gees',
       'big brother', 'boko haram', 'briana', 'brock lesnar',
       'caitlyn jenner', 'calibraska', 'carly fiorina', 'cate blanchett',
       'charlie hebdo', 'chris evans', 'christians', 'chuck norris',
       'curtis', 'dana white', 'dark souls', 'david bowie', 'david price',
       'david wright', 'dean ambrose', 'dunkin', 'dustin johnson',
       'ed sheeran', 'eid', 'floyd mayweather', 'foo fighters',
       'frank gifford', 'frank ocean', 'gay', 'george harrison',
       'george osborne', 'gucci', 'hulk hogan', 'ice cube', 'ira', 'iran',
       'iron maiden', 'islam', 'israel', 'janet jackson', 'jason aldean',
       'john cena', 'john kasich', 'josh hamilton', 'kane', 'kanye west',
       'kendrick', 'kendrick lamar', 'kpop', 'kris bryant', 'milan',
       'miss usa', 'moto g', 'murray', 'muslims', 'naruto',
       'national hot dog day', 'national ice cream day', 'niall', 'nicki',
       'nirvana', 'paper towns', 'paul dunne', 'paul mccartney',
       'prince george', 'ps4', 'rahul gandhi', 'randy orton',
       'real madrid', 'red sox', 'rolling stone', 'rousey', 'ryan braun',
       'sam smith', 'saudi arabia', 'scott walker', 'seth rollins',
       'sharknado', 'shawn', 'star wars day', 'super eagles', 'the vamps',
       'thor', 'tom brady', 'tony blair', 'twilight', 'u2', 'watchman',
       'white sox', 'yakub', '@microsoft', 'ac/dc', 'amazon',
       'amazon prime', 'amazon prime day', 'angela merkel', 'apple',
       'apple watch', 'arsenal', 'barca', 'batman', 'bbc', 'bentley',
       'bernie sanders', 'beyonce', 'bob marley', 'bobby jindal',
       'chelsea', 'chris brown', 'conor mcgregor', 'david beckham',
       'david cameron', 'digi', 'disneyland', 'erdogan', 'eric church',
       'federer', 'fleetwood mac', 'galaxy note', 'game of thrones',
       'google+', 'grateful dead', 'hannibal', 'harper', 'ibm', 'ihop',
       'ios', 'jay-z', 'jeb bush', 'jurassic park', 'jurassic world',
       'justin', 'juventus', 'kerry', 'kurt cobain', 'labor day', 'lexus',
       'magic mike xxl', 'messi', 'metlife', '#ArianaGrande',
       '#BlackLivesMatter', '#FCBlive', '#GilmoreGirlsTop4', '#Hamas',
       '#Hatchimals', '#Hezbollah', '#ISIS', '#Jerusalem', '#Libya',
       '#MannequinChallenge', '#MosulOffensive', '#NBAwards',
       '#OneDirection', '#Palestine', '#ScreamQueens', '#TheWalkingDead',
       '#ThisIsUs', '#UniteBlue', '#UnitedNations', '#Yemen',
       '#beautyandthebeast', '#draintheswamp', '#fantasticbeasts',
       '#nationalfastfoodday', '#stillwithher', '#thankyouobama',
       '#trumptransitionteam', '#uber', '3d printing', '@elizabethforma',
       '@megynkelly', '@utahjazz', 'Ben Carson', 'Dakota Access Pipeline',
       'David Blaine', 'Google Earth VR', 'Mike Pence', 'Putin',
       'Ricky Martin', 'Steve Bannon', 'Tony Romo', 'Valentines',
       'abortion', 'aleppo', 'alt-rightists', 'animal testing',
       'anti-trump riots', 'ashley graham', 'bad hombres', 'bob dylan',
       'brexit', 'clinton foundation', 'comey', 'conservatives',
       'cristiano ronaldo', 'cuba embargo', 'cubs', 'cy young',
       'death penalty', 'deep learning', 'dems', 'deplorables',
       'drone strikes', 'electoral college', 'euthanasia', 'fidel castro',
       'fossil fuels', 'fracking', 'galaxy note 7', 'gay marriage',
       'george soros', 'gold standard', 'grayson allen', 'gun control',
       'homeopathy', 'immigration', 'kim fatty the third', 'kim jong-un',
       'kremlintrolls', 'leftists', 'leonard cohen', 'liberals', 'maduro',
       'marine le pen', 'medicaid', 'medical marijuana', 'medicare',
       'melania speech', 'melania trump', 'michael moore',
       'microsoft joins the linux foundation', 'minimum wage',
       'muhammad ali', 'nazi', 'obama admin', 'obamacare', 'pelosi',
       'persona 5', 'pope francis', 'popular vote', 'poroshenko',
       'rightists', 'robots', 'saakashvili', 'self-driving cars',
       'social security', 'steve bannon', 'supremacists', 'tesla model s',
       'thanksgiving', 'tim duncan', 'tipp', 'tpp', 'trump cabinet',
       'trump protest', 'trump transition', 'vaccines', 'vegetarianism',
       'verlander', 'voter registration', 'voter suppression',
       'wall on the mexican border', 'westworld', 'zac efron', 'kindle2',
       'aig', 'jquery', 'twitter', 'nike', 'lebron', 'iphone app', 'visa',
       'fredwilson', '"booz allen"', '40d', 'itchy', 'stanford', 'lyx',
       'Danny Gokey', 'sleep', 'san francisco', 'star trek',
       'Malcolm Gladwell', 'espn', '"twitter api"', 'yahoo',
       'scrapbooking', 'wolfram alpha', 'weka', '50d', 'lambda calculus',
       'east palo alto', 'north korea', 'bailout', 'insects', 'mcdonalds',
       'exam', 'cheney', 'republican', 'twitter api', 'jquery book',
       'goodby silverstein', 'wieden', 'g2', 'googleio',
       'viral marketing', '"night at the museum"', 'gm', 'time warner',
       'china', 'surgery', 'dentist', 'baseball', 'sony', 'safeway',
       'eating', 'warren buffet', 'notre dame school', '"naive bayes"',
       'car warranty call', 'at&t', 'wave sandbox', 'bing', 'summize',
       'world cup', 'world cup 2010', 'fred wilson', 'indian election',
       'india election', 'comcast', 'shoreline amphitheatre', 'mashable',
       'hitler', 'yankees', 'driving', 'visa card', 'Bobby Flay', 'latex',
       'aapl'], dtype=object)

In [6]:
rest = pd.read_csv('data/rest_lap.tsv', sep='\t')

In [12]:
no_tweet = pd.concat([hood, rest])
no_tweet.to_csv('data/data_no_tweet.tsv', sep='\t')

In [11]:
pd.concat([no_tweet, twit]).to_csv('data/data_full.tsv', sep='\t')